<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css">

    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/works">Works</a>
      <a href="/photogallery">Photo Gallery</a>
    </nav>
    <h1>About</h1>
    <div class="about-container">
      <img src="./images/michelangelo-buonarroti.jpg" alt="" width="300px" />
    
    <p>
      Michelangelo Buonarroti (Caprese, 6 de marzo de 1475-Roma, 18 de febrero
      de 1564), conocido en español como Miguel Angel, fue un arquitecto,
      escultor, pintor y poeta italiano renacentista, considerado uno delos más
      grandes artistas de la historia tanto por sus esculturas como por sus
      pinturas y obra arquitectónica. Desarrolló su labor artística a lo largo
      de más de setenta años entre Florencia y Roma, que era donde vivían sus
      grandes mecenas, la familia Médici de Florencia y los diferentes papas
      romanos.

      <br /><br>
      Fue el primer artista occidental del que se publicaron dos bigorafías en
      vida: Le vite de'più eccellenti pittorim, scultori e architettori, de
      Giorgio Vasari, publicada en 1550 en su primera edición,en la cual el
      único artista vivo incluido, y Vita de Michelangelo Buonarroti, escrita en
      1553 por AScanio Condivi, pintor y discpíulo de Miguel Angel, donde se
      recogen los datos facilitados por el mismo Buonarroti.
      <br /><br>
      Triunfó en todas las artes en las que trabajó, caracterizándose por su
      perfeccionismo. La escultura, según había declarado, era su predilecta y
      la primera a la que se dedicó; a continuación, la pintura, casi como una
      imposición por parte del papa Julio II, y que se concretó en una obra
      excepcional, la bóveda de la Capilla Sixtina. Ya en sus últimos años
      realizó proyectos arquitectónicos. Fue autor de numerosas obras, de las
      cuales hoy en día se conservan entre 40 y 60 esculturas, 4 pinturas,
      varias decenas de dibujos y bocetos y los frescos de la Capilla sixtina y
      la Capilla Paulina.
    </p>
</div>
  </body>
</html>
