<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />

    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/home">Home</a>
      <a href="/about">About</a>
      <a href="/works">Works</a>
    </nav>
    <h1>Photogallery</h1>

    <div class="container-img">
      <div id="photo-title">
        <img src="./images/Cuppolas_Saint_Peter's_basilica,_Vatican_City.jpg" alt="Cuppolas_Saint_Peter img" />
        <h3>Cúpula de San Pedro</h3>
      </div>
      <div id="photo-title">
        <img src="./images/Michelangelo's_David.jpg" alt="David img" />
        <h3>El David</h3>
      </div>
         <div id="photo-title">
          <img src="./images/CAPPELLA_SISTINA.jpg" alt="CAPPELLA_SISTINA img" />
          <h3>Capilla Sixtina</h3>
        </div>
    </div>
  </body>
</html>
