body{
    background-color: lightblue;
}

.container-works{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-img img {
    width: 60%;
    border: 2px solid black;
    border-radius: 2%;
}

#photo-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-container{
    width: 60%;
    text-align: justify;
}